:root {
    --primary: #fd734f;
}

.text-primary {
  color: #1d262d !important;
}

.btn-primary {
  color: #fcf1db;
  background-color: #fd734f;
  border-color: #fd734f;
}
/*#fb9c98*/
.card-pi {
  margin: 10px;
    padding: 2%;
    background-color: #ffffa5;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    border-bottom-right-radius: 60px 10px;
  text-align: left;
}

.card-body {
  padding: 0 !important;
}

.card-body {
    padding: 100px;
}

.bg-image {
  background-image: url("../img/2788058.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  width: 75%;
  margin-left: 12%;
}

form {
  text-align: center;
}

a {
  color: #1d262d;
}

a :hover {
  color: #fd734f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f3a199;
    border-color: #f3a199;
}

input[type=checkbox]:checked + label.strikethrough {
  text-decoration: line-through;
}
